* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}

nav {
    text-align: right;
    flex: 1;
}

nav ul {
    list-style: none;
    display: inline-block;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #555555;
}

p {
    color: #555555;
    font-size: 12.5px;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
    padding: 0 30px;
}

.shop {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    margin-top: 10px;
}

.menu-icon {
    width: 28px;
    margin-left: 20px;
    display: none;
}

.col-2 img {
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1 {
    font-size: 35px;
    line-height: 50px;
    margin: 25px 0;
}

.btn {
    display: inline-block;
    background-color: #f1607d;
    border-radius: 30px;
    padding: 8px 30px;
    margin: 30px 0;
    color: white;
}

.btn:hover {
    background: rgba(160, 55, 55, 0.856);
}

.header {
    background: -webkit-radial-gradient(#ffffff, #faadbd);
}

.header .row {
    margin-top: 70px;
}


/* start section Catrgories */

.categories {
    margin: 70px 0;
}

.col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
    padding-right: 10px;
    padding-left: 10px;
}

.categories .row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-3 img {
    width: 100%;
}

.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}


/* End section Catrgories */


/* Section Product*/

.col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-4 img {
    width: 100%;
}

.title {
    color: #555555;
    text-align: center;
    margin: 0 auto 80px;
    line-height: 60px;
    position: relative;
}

.title::after {
    content: '';
    width: 80px;
    height: 4px;
    background: #faadbd;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4 {
    color: #555555;
    font-weight: normal;
    font-size: 15px;
}

.col-4 p {
    font-size: 14px;
}

.rating .fa,
.fas,
.far {
    color: #faadbd;
}

.col-4:hover {
    transform: translateY(-7px);
}


/*End Section Product*/


/* Section Offer*/

.offer {
    background: -webkit-radial-gradient(#ffffff, #faadbd);
    margin-top: 80px;
    padding: 30px 0;
}

.col-2 .offer-img {
    padding: 50px;
}

small {
    color: #555555;
}


/*End Section Offer*/


/* Section Comment*/

.testimonial {
    padding-top: 108px;
}

.testimonial .col-3 {
    text-align: center;
    padding: 40px 20px;
    cursor: pointer;
    transition: transform .5s;
    box-shadow: 0 15px 15px rgba(0, 0, 0, .5)
}

.testimonial .col-3 img {
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}

.testimonial .col-3:hover {
    transform: translateY(-10px);
}

.fa.fa-quote-left {
    font-size: 34px;
    color: rgb(230, 159, 159);
}

.col-3 p {
    color: #777777;
    font-size: 12px;
    margin: 12px 0;
}

.testimonial .col-3 h3 {
    color: #555555;
    font-weight: 600;
    font-size: 18px;
}


/*End Section Comment*/


/* Section Brand */

.brand {
    margin: 150px auto;
}

.col-5 {
    width: 160px;
}

.col-5 img {
    cursor: pointer;
    width: 100%;
    filter: grayscale(100%);
}

.col-5 img:hover {
    filter: grayscale(0);
}


/* End Section Brand */


/* Start Section Footer */

.footer {
    background: black;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
    max-width: 1300px;
    padding: 20px 30px;
}

.footer p {
    color: #8a8a8a;
    flex-wrap: wrap;
}

.footer h3 {
    color: whitesmoke;
}

.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4 {
    min-width: 200px;
    margin-bottom: 20px;
}

.footer-col-1 {
    flex-basis: 30%;
    margin-top: 10px;
}

.footer-col-2 {
    flex: 1;
    text-align: center;
    margin-top: 15px;
    margin-left: 20px;
}

.footer-col-2 img {
    width: 180px;
    margin-bottom: 20px;
    height: 59px;
}

.footer-col-3,
.footer-col-4 {
    flex-basis: 12%;
    text-align: center;
}

ul {
    list-style: none;
}

.app-logo {
    margin-top: 20px;
}

.app-logo img {
    width: 120px;
}

.footer hr {
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}

.copyright {
    text-align: center;
}


/* End Section Footer */


/* start styles Page Products*/

.row-2 {
    justify-content: space-between;
    margin: 100px auto 50px;
}

select {
    border: 1px solid coral;
    padding: 5px;
}

select:focus {
    outline: none;
}

.page-btn {
    margin: 0 auto 80px;
}

.page-btn span {
    border: 1px solid #faadbd;
    text-align: center;
    width: 40px;
    height: 40px;
    margin-left: 10px;
    cursor: pointer;
    display: inline-block;
    line-height: 40px;
}

.page-btn span:hover {
    background-color: #f1607d;
    color: whitesmoke;
}


/* End styles Page Products*/


/* Start styles Page Product-details*/

.single-product {
    margin-top: 80px;
}

.single-product .col-2 img {
    padding: 0;
}

.single-product .col-2 {
    padding: 20px;
}

.single-product h4 {
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold
}

.single-product select {
    display: block;
    padding: 10px;
    margin-top: 20px;
}

.single-product input {
    width: 50px;
    height: 40px;
    margin-right: 10px;
    text-align: center;
    border: 1px solid coral;
    font-size: 20px;
}

input:focus {
    outline: none;
}

.single-product .fa {
    color: #f1607d;
    margin-left: 10px;
}

.small-img-row {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.small-img-col {
    cursor: pointer;
    flex-basis: 24%;
}


/* End styles Page Product-details*/


/* Start styles Page Cart*/

.cart-page {
    margin: 80px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.cart-info {
    display: flex;
    flex-wrap: wrap;
}

th {
    padding: 5px;
    text-align: left;
    color: #fff;
    background-color: #ca4560;
    font-weight: normal;
}

td {
    padding: 10px 5px;
}

td input {
    width: 40px;
    height: 30px;
    padding: 5px;
}

td a {
    color: #ff0033;
    font-size: 12px;
}

td img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.total-price {
    display: flex;
    justify-content: flex-end;
}

.total-price table {
    width: 100%;
    border-top: 1px solid coral;
    max-width: 350px;
}

td:last-child {
    text-align: right;
}

th:last-child {
    text-align: right;
}


/* End styles Page Cart*/


/* Start styles Page account*/

.account-page {
    padding: 50px 0;
    background: -webkit-radial-gradient(#ffffff, #faadbd);
}

.form-container {
    width: 300px;
    height: 400px;
    background: #ffffff;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 15px 15px rgba(0, 0, 0, .5);
    border-radius: 9px;
    overflow: hidden;
}

.form-container span {
    padding: 0 10px;
    color: #555555;
    font-weight: bold;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}

.form-btn {
    display: inline-block;
}

form input {
    width: 100%;
    height: 30px;
    border: 1px solid #cccccc;
    margin: 10px 0;
    padding: 0 10px;
}

.form-container form {
    padding: 0 20px;
    position: absolute;
    top: 130px;
    max-width: 300px;
    transition: transform 1s;
}

form .btn {
    width: 100%;
    border: none;
    margin: 10px 0;
    cursor: pointer;
}

form .btn:focus {
    outline: none;
}

#Loginform {
    left: -300px;
}

#Regform {
    left: 0px;
}

form a {
    font-size: 12px;
}

#indicator {
    width: 100px;
    height: 3px;
    border: none;
    background: coral;
    margin-top: 8px;
    transform: translateX(100px);
    transition: transform 1s;
}


/* End styles Page account*/

@media only screen and (max-width: 800px) {
    nav ul {
        background: #333333;
        width: 100%;
        position: absolute;
        top: 75px;
        opacity: 0.8;
        left: 0;
        overflow: hidden;
        transition: max-height 0.6s;
    }
    nav ul li {
        display: block;
        margin-top: 10px;
        margin-right: 50px;
        margin-bottom: 10px;
    }
    nav ul li a {
        color: whitesmoke;
    }
    .menu-icon {
        display: block;
        cursor: pointer;
    }
}

@media only screen and (max-width:600px) {
    .row {
        text-align: center;
    }
    .col-2,
    .col-3,
    .col-4 {
        flex-basis: 100%;
    }
    .single-product .row {
        text-align: left;
    }
    .single-product .col-2 {
        padding: 30px 0;
    }
    .single-product h1 {
        font-size: 26px;
        line-height: 27px;
    }
    .cart-info p {
        display: none;
    }
}